body {
  background-image: url(./images/skillsets_background.png);
  background-repeat: no-repeat;
  background-color: #203944;
}

.logo {
  display: flex;
  height: 120px;
  padding-left: 60px;
  padding-top: 16px;
}

nav {
  display: flex;
}

a {
  margin-right: 45px;
  flex-direction: row-reverse;
}

.nav-links {
  display: flex;
  width: 900px;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 90px;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  color: #FFD966
}

.column {
  display: flex;
  margin-top: 160px;
  float: left;
  width: 30.33%;
}

h1 {
  display: flex;
  padding-top: 10px;
  padding-left: 200px;
  font-family: 'Inter', sans-serif;
}

h3 {
  display: flex;
  padding-top: 0px;
  font-family: 'Inter', sans-serif;
  font-size: x-large;
  color: #FFD966
}

.row:after {
  content: “”;
  display: table;
  clear: both;
}

li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-size: larger;
  color: #FFD966;
  padding: 5px;
}

h1 {
  color: #FFD966
}

@media only screen and (min-width:1290px) {
  body {
    background-image: url(/images/skillsets_background.png);
    background-repeat: repeat;
    background-color: #203944;
  }

  header {
    padding: 0px 10%;
    margin-top: 150px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }

  h1 {
    display: grid;
    align-content: flex-start
  }
}

@media only screen and (max-width:1290px) {
  body {
    background-image: url(/images/skillsets_background.png);
    background-repeat: repeat;
    background-color: #203944;
  }

  header {
    padding: 0px 35%;
    margin-top: 150px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }