html {
  background: url(/images/skillsets_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  display: flex;
  height: 120px;
  padding-left: 60px;
  padding-top: 16px;
}

nav {
  display: flex;
}

a {
  margin-right: 45px;
  flex-direction: row-reverse;
}

.nav-links {
  display: flex;
  width: 900px;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 90px;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  color: #FFD966
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  margin-top: 160px;
  float: left;
  width: 33.33%;
}

h1 {
  display: flex;
  padding-top: 10px;
  padding-left: 200px;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  color: #FFD966
}

.dropdown {
  display: flex;
  padding-top: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #FFD966;
}

.dropdown-menu {
  display: flex;
  justify-content:space-evenly;
  padding: 4px;
}

li {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-size: larger;
  list-style-type: none;
  color: #FFD966;
}


@media only screen and (min-width:1290px) {

  html {
    background: url(/images/skillsets_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    padding: 0px 10%;
    margin-top: 150px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }

  h1 {
    display: grid;
    align-content: flex-start
  }

  .dropdown-menu {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }
}

@media only screen and (max-width:1290px) {
  html {
    background: url(/images/skillsets_background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    padding: 0px 35%;
    margin-top: 150px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }

  .column {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }

  .dropdown-menu {
    display: grid;
    grid-template-columns: 1fr 252px;
    grid-template-rows: 1fr 28px 1fr;
    padding: 0px;
    margin: 0px;
  }
}