body {
  background-color: #203944;
}

.logo {
  display: flex;
  height: 120px;
  padding-left: 60px;
  padding-top: 16px;
}

nav {
  display: flex;
}

a {
  margin-right: 45px;
  flex-direction: row-reverse;
}

.nav-links {
  display: flex;
  width: 800px;
  margin-top: 60px;
  margin-left: 90px;
  margin-right: 90px;
  justify-content: space-around;
  font-family: 'Inter', sans-serif;
  color: #FFD966
}

h3 {
  margin-top: 90px;
  margin-bottom: 1px;
  margin-left: 120px;
  font-family: 'Inter', sans-serif;
  font-size: smaller;
  font-weight: 400;
  color: #FFD966;
  justify-content: space-around;
}

header {
  margin-left: 120px;
  padding-bottom: 0%;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #FFD966;
}

.parent {
  display: flex;
  flex-direction: row;
  height: 325px;

}

.child1 {
  width: 50%;
  height: 50vh;
  margin-left: 9%;
  margin-top: 2%;
  
}

.child2 {
  width: 50%;
  height: 50vh;
  margin-left: 0%;
  margin-top: 40px ;
  color: #FFD966;
}

h3 {
  text-align: left;
}

.info {
  font-family: 'Inter', sans-serif;
  font-size:x-large;
  color: #FFD966;
}

h1 {
  color: #FFD966
}

.subnav {
  padding:0%
}

.subnav-links {
  margin-left: 132px;
  height: 100px;
  font-family: 'Inter', sans-serif;
  font-weight:500;
  color: #FFD966;

}
u{
  padding-left: 8px;
  padding-right: 50px;
  justify-content: space-around;
}